body {
    background-color: #ffffff;
    display: flex;
    margin: 0;
    overflow: hidden;
}

greco-logo {
    margin: auto;
    transition-duration: 1s;
}

loader {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #efefef;
    transition-duration: 1s;
    transition-delay: 1s;
    z-index: 4;
}

#logo-svg {
    width: 110px;
    height: auto;
    transition-duration: 0.5s;
}

.st0{fill:#646464;}

.st1{fill:#FFFFFF;}

#title-app {
    text-align: center;
    margin: auto;
    font-family: calibri, ubuntu;
    color: #646464;
    transition-duration: 1s;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
}

#search-container {
    height: 50px;
    width: 100%;
    position: fixed;
}

#search-input {
    height: 30px;
    width: 80%;
    margin: 10px auto;
    border-radius: 50px;
    background-color: #efefef;
}